<div class="row">
    <div class="col s12">
      <div class="container">
      <ul class="tabs">
        <li class="tab col s4"><a class="active" href="#test1">Profile</a></li>
        <li class="tab col s4"><a  href="#test2">Report</a></li>
      </ul>
      </div>
    </div>
    <div id="test1" class="col s12">
      <div class="section"></div>
    <div class="section">
      <div class="container">
          <img class="responsive-img" src="{{profile.image}}">
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="container">
          <table class="striped">
            <tbody>
              <tr>
                <td>Name</td>
                <td>{{profile.name}}</td>
              </tr>
              <tr>
                <td>Sponsor</td>
                <td>{{profile.sponsor}}</td>
              </tr>
              <tr>
                <td>Date of Birth</td>
                <td>{{profile.dob}}</td>
              </tr>
              <tr>
                <td>Address</td>
                <td>{{profile.address}}</td>
              </tr>
              <tr>
                <td>Father's name</td>
                <td>{{profile.father}}</td>
              </tr>
              <tr>
                <td>Mother's Name</td>
                <td>{{profile.mother}}</td>
              </tr>
              <tr>
                <td>Qualification</td>
                <td>{{profile.qualification}}</td>
              </tr>
              <tr>
                <td>Institution</td>
                <td>{{profile.institution}}</td>
              </tr>
              <tr>
                <td>Institution Address</td>
                <td>{{ins_address}}</td>
              </tr>
              {{#if profile.hostel}}
              <tr>
                <td>Hostel</td>
                <td>{{profile.hostel}}</td>
              </tr>
              {{/if}}
              {{#if profile.left}}
              <tr>
                <td>Left</td>
                <td>{{left}}</td>
              </tr>
              {{/if}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
    <div id="test2" class="col s12">
      
    </div>
    {{!--<div id="test3" class="col s12">Test 3</div>
    <div id="test4" class="col s12">Test 4</div>--}}
  </div>
        